body {
    background-color: dimgray;
}

#listaFilmy{
    list-style: circle;
}

#listaDokumenty{
    list-style: square;
}

#listaGwiazdy {
    list-style-image: url("../img/star.png");
}

#listaGwiazdy li {
    margin: 20px;
}

#spisTresci {
    list-style: none;
    margin: 20px;

}
#spisTresci li {
    margin: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: aqua;
}


a:visited {
    color: red;
}

a:hover {
    color: black;
}

a:active {
    color: greenyellow
}
