body {
    height: 700px;
    width: 1000px;
    background-color: rgb(212, 153, 196);
}

#baner {
    height: 30%;
    background-color: red;
}

#menu {
    height: 70%;
    width: 33%;
    float: left;
    background-color: aqua;
}

#tresc {
    height: 70%;
    width: 33%;
    float: left;
    background-color: purple;
}

#stopka {
    height: 70%;
    width: 33%;
    float: left;
    background-color: orange;
}
