body {
    height: 700px;
    width: 1000px;
    background-color: rgb(212, 153, 196);
}

#baner {
    height: 40%;
    background-color: red;
}

#menu {
    height: 50%;
    width: 40%;
    float: left;
    background-color: aqua;
}

#tresc {
    height: 50%;
    width: 60%;
    float: left;
    background-color: purple;
}

#stopka {
    height: 10%;
    width: 100%;
    float: left;
    background-color: orange;
}
